.card_container{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        400px,
        1fr
      )
    );
    gap: 1rem;
  }

.img_card{
    width: 100px;
}

.card{
    max-width: 600px;
    max-height: 300px;
    width: 400px;
    height: 200px;
    border-radius: var(--border-radius);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--color-gray-light); /*gray-light*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
}

.card p {
    color: #094293;
    font-family: Poppins, sans-serif;
    font-weight: 700;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}