h3{
    color: var(--color-purple);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}


.event-container{
    padding: 1rem 1rem;
    width: 100%;
}

.table-container-event{
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 400px;
}

.gestion-zona{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1;
    padding: 1rem;
}

.form-container-zona{
    margin-top: 60px;
    padding: 1rem 1rem;
}