h3{
    color: var(--color-purple);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}


.event-container{
    padding: 1rem 1rem;
}

.table-container-event{
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 400px;
}

.event-accion{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 5px;
}

.accions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}