.nav_container{
   
    border-radius: 20px;
    min-width: 200px;
    border: 1px solid var(--color-gray-medium);
}

.nagegation-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0rem 1rem;
}

li{
    margin-left: 20px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
li::marker {
    content: "";
  }
a{
    text-decoration: none;
    color: #636363;
    font-size: 18px;
    font-weight: 500;
}

li:hover{
   
    border-bottom: 1px solid var(--color-header-red);
}
li:hover a {
    color: var(--color-header-red);
  }