

.table-container{
    margin-top: 10px;
    max-height: 400px;       
    overflow-y: auto; 
    border: 1px solid #ccc;
   
}
.table{
    width: 100%;
    border-collapse: collapse;
   
}
.table thead th {
    position: sticky;  
    top: 0;           
    background: white;
    z-index: 1;
  }
tr, td, th{
    border: 2px solid var(--color-gray);
    padding: 0rem 1rem;
}

.th-container{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-purple);
    min-height: 40px;
   
}

.th-sort{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    
}
td {
    color: var(--color-text-dark);
}
.check-input {
    width: 1.5rem;
    border: 2px solid #666;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
  }
  
  .check-input:checked {
    background-color: var(--color-purple);
    border-color: #4f46e5;
  }
  
 .success-p{
    color: var(--color-gray-light);
    background-color: var(--color-success);
    border-radius: var(--border-radius);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: 500;

 }

 .error-p{
    color: var(--color-gray-light);
    background-color: var(--color-error);
    border-radius: var(--border-radius);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: 500;
 }
 
 .sort-img{
    padding: 3px;
}
 .sort-img:hover{
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.1);
    background-color: var(--color-gray);
    border-radius: 50%;
   
 }